vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Dec 2008 15:40:39 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|PC-RODRIGO\\Rodrigo
vti_modifiedby:SR|PC-RODRIGO\\Rodrigo
vti_timecreated:TR|26 Dec 2008 15:40:39 -0000
vti_cacheddtm:TX|26 Dec 2008 15:40:39 -0000
vti_filesize:IR|1001
vti_cachedlinkinfo:VX|S|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_cachedsvcrellinks:VX|NSHS|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_lineageid:SR|{1BE22B93-99D7-434E-9985-6A6705FAF96A}
vti_backlinkinfo:VX|rioja/target0.html rioja/target1.html rioja/target5.html rioja/index.html rioja/target2.html rioja/target3.html rioja/target4.html
