vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Dec 2008 17:34:00 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|PC-RODRIGO\\Rodrigo
vti_modifiedby:SR|PC-RODRIGO\\Rodrigo
vti_timecreated:TR|26 Dec 2008 17:34:00 -0000
vti_cacheddtm:TX|26 Dec 2008 17:34:00 -0000
vti_filesize:IR|1001
vti_cachedlinkinfo:VX|S|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_cachedsvcrellinks:VX|NSHS|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_lineageid:SR|{D08ACED6-08DE-4C40-8AE5-B81F949786D4}
vti_backlinkinfo:VX|tailandi/target20.html tailandi/target21.html tailandi/target8.html tailandi/target9.html tailandi/target18.html tailandi/target19.html tailandi/target4.html tailandi/target5.html tailandi/target6.html tailandi/target7.html tailandi/target1.html tailandi/target14.html tailandi/target15.html tailandi/target16.html tailandi/target17.html tailandi/target2.html tailandi/target22.html tailandi/target23.html tailandi/target24.html tailandi/target3.html tailandi/target30.html tailandi/target31.html tailandi/target0.html tailandi/target11.html tailandi/target12.html tailandi/target13.html tailandi/index.html tailandi/target10.html tailandi/target29.html tailandi/target26.html tailandi/target27.html tailandi/target28.html
