vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Oct 2007 11:06:34 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|PC-RODRIGO\\Rodrigo
vti_modifiedby:SR|PC-RODRIGO\\Rodrigo
vti_timecreated:TR|25 Oct 2007 11:06:34 -0000
vti_cacheddtm:TX|25 Oct 2007 11:06:34 -0000
vti_filesize:IR|1033
vti_cachedlinkinfo:VX|S|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_cachedsvcrellinks:VX|NSHS|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_lineageid:SR|{D8D53D68-9EAC-4691-90A4-8E799A00E761}
vti_backlinkinfo:VX|portugal/target11.html portugal/target12.html portugal/target13.html portugal/target10.html portugal/target9.html portugal/target18.html portugal/target19.html portugal/target5.html portugal/target6.html portugal/target7.html portugal/target8.html portugal/target14.html portugal/target15.html portugal/target16.html portugal/target17.html portugal/target2.html portugal/target3.html portugal/target4.html portugal/index.html portugal/target0.html portugal/target1.html portugal/target20.html
