vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Dec 2008 17:23:37 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|PC-RODRIGO\\Rodrigo
vti_modifiedby:SR|PC-RODRIGO\\Rodrigo
vti_timecreated:TR|26 Dec 2008 17:23:37 -0000
vti_cacheddtm:TX|26 Dec 2008 17:23:37 -0000
vti_filesize:IR|1001
vti_cachedlinkinfo:VX|S|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_cachedsvcrellinks:VX|NSHS|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_lineageid:SR|{A4E9AEDA-BB18-4E9A-86D4-2E9CA303B3C2}
vti_backlinkinfo:VX|londres/target16.html londres/target17.html londres/target18.html londres/target19.html londres/target8.html londres/target9.html londres/index.html londres/target12.html londres/target13.html londres/target14.html londres/target15.html londres/target5.html londres/target6.html londres/target7.html londres/target1.html londres/target10.html londres/target11.html londres/target2.html londres/target3.html londres/target4.html londres/target0.html
