vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Oct 2007 11:06:34 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|PC-RODRIGO\\Rodrigo
vti_modifiedby:SR|PC-RODRIGO\\Rodrigo
vti_timecreated:TR|25 Oct 2007 11:06:34 -0000
vti_cacheddtm:TX|25 Oct 2007 11:06:34 -0000
vti_filesize:IR|1033
vti_cachedlinkinfo:VX|S|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_cachedsvcrellinks:VX|NSHS|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_lineageid:SR|{DAF3C94F-BF31-4F76-B66E-F43B7505483A}
vti_backlinkinfo:VX|navarra/index.html navarra/target0.html navarra/target1.html
