vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Oct 2007 11:06:34 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|PC-RODRIGO\\Rodrigo
vti_modifiedby:SR|PC-RODRIGO\\Rodrigo
vti_timecreated:TR|25 Oct 2007 11:06:34 -0000
vti_cacheddtm:TX|25 Oct 2007 11:06:34 -0000
vti_filesize:IR|1033
vti_cachedlinkinfo:VX|S|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_cachedsvcrellinks:VX|NSHS|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_lineageid:SR|{DD5A4375-2D23-4353-8A8A-BA952586D8DE}
vti_backlinkinfo:VX|valencia/index.html valencia/target0.html valencia/target1.html
