.mstheme
{
	nav-banner-image: url(netbanr.gif);
	separator-image: url(netrule.gif);
	list-image-1: url(netbul1.gif);
	list-image-2: url(netbul2.gif);
	list-image-3: url(netbul3.gif);
	navbutton-horiz-pushed: url(nethsel.gif);
	navbutton-horiz-normal: url(nethbtn.gif);
	navbutton-vert-pushed: url(netvsel.gif);
	navbutton-vert-normal: url(netvbtn.gif);
	navbutton-home-normal: url(nethom.gif);
	navbutton-up-normal: url(netup.gif);
	navbutton-prev-normal: url(netbck.gif);
	navbutton-next-normal: url(netnxt.gif);
}
.mstheme-bannertxt
{
	font-family: trebuchet ms, Arial, Helvetica;
	font-size: 6;
	font-weight: bold;
	color: rgb(0,0,0);
}
.mstheme-horiz-navtxt
{
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-vert-navtxt
{
	font-family: trebuchet ms, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxthome
{
	font-family: trebuchet ms, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtup
{
	font-family: trebuchet ms, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtprev
{
	font-family: trebuchet ms, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
.mstheme-navtxtnext
{
	font-family: trebuchet ms, Arial, Helvetica;
	font-size: 1;
	color: rgb(0,0,0);
}
UL
{
	list-style-image: url(netbul1.gif);
}
UL UL
{
	list-style-image: url(netbul2.gif);
}
UL UL UL
{
	list-style-image: url(netbul3.gif);
}