vti_encoding:SR|utf8-nl
vti_author:SR|PC-RODRIGO\\Rodrigo
vti_modifiedby:SR|PC-RODRIGO\\Rodrigo
vti_timelastmodified:TR|11 May 2009 17:33:15 -0000
vti_timecreated:TR|11 May 2009 17:33:15 -0000
vti_cacheddtm:TX|11 May 2009 17:33:15 -0000
vti_filesize:IR|1481
vti_cachedlinkinfo:VX|S|netbanr.gif S|netrule.gif S|netbul1.gif S|netbul2.gif S|netbul3.gif S|nethsel.gif S|nethbtn.gif S|netvsel.gif S|netvbtn.gif S|nethom.gif S|netup.gif S|netbck.gif S|netnxt.gif S|netbul1.gif S|netbul2.gif S|netbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/network/netbanr.gif FSUS|_themes/network/netrule.gif FSUS|_themes/network/netbul1.gif FSUS|_themes/network/netbul2.gif FSUS|_themes/network/netbul3.gif FSUS|_themes/network/nethsel.gif FSUS|_themes/network/nethbtn.gif FSUS|_themes/network/netvsel.gif FSUS|_themes/network/netvbtn.gif FSUS|_themes/network/nethom.gif FSUS|_themes/network/netup.gif FSUS|_themes/network/netbck.gif FSUS|_themes/network/netnxt.gif FSUS|_themes/network/netbul1.gif FSUS|_themes/network/netbul2.gif FSUS|_themes/network/netbul3.gif
vti_extenderversion:SR|5.0.2.6417
vti_lineageid:SR|{163FEFF7-30A5-4B97-9FC5-8F00E47F9B88}
vti_backlinkinfo:VX|
