vti_encoding:SR|utf8-nl
vti_author:SR|PC-RODRIGO\\Rodrigo
vti_modifiedby:SR|PC-RODRIGO\\Rodrigo
vti_timelastmodified:TR|11 May 2009 17:33:15 -0000
vti_timecreated:TR|11 May 2009 17:33:15 -0000
vti_cacheddtm:TX|11 May 2009 17:33:15 -0000
vti_filesize:IR|10731
vti_cachedlinkinfo:VX|S|netglobl.gif S|netbkgnd.gif S|bluedot.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/network/netglobl.gif FSUS|_themes/network/netbkgnd.gif FSUS|_themes/network/bluedot.gif
vti_extenderversion:SR|5.0.2.6417
vti_lineageid:SR|{84C79321-F413-4F84-93A4-B5DDDD56BC62}
vti_backlinkinfo:VX|
