vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Oct 2007 11:06:34 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|PC-RODRIGO\\Rodrigo
vti_modifiedby:SR|PC-RODRIGO\\Rodrigo
vti_timecreated:TR|25 Oct 2007 11:06:34 -0000
vti_cacheddtm:TX|25 Oct 2007 11:06:34 -0000
vti_filesize:IR|1033
vti_cachedlinkinfo:VX|S|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_cachedsvcrellinks:VX|NSHS|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_lineageid:SR|{92992A6C-52F3-43CA-BCCB-9024BB86D10E}
vti_backlinkinfo:VX|asturias/target0.html asturias/target1.html asturias/index.html asturias/target2.html asturias/target3.html asturias/target4.html
