vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Oct 2007 11:06:34 -0000
vti_extenderversion:SR|5.0.2.6417
vti_author:SR|PC-RODRIGO\\Rodrigo
vti_modifiedby:SR|PC-RODRIGO\\Rodrigo
vti_timecreated:TR|25 Oct 2007 11:06:34 -0000
vti_cacheddtm:TX|25 Oct 2007 11:06:34 -0000
vti_filesize:IR|1033
vti_cachedlinkinfo:VX|S|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_cachedsvcrellinks:VX|NSHS|http://personales.ya.com/rodrigodiaz/images/telefond.gif
vti_lineageid:SR|{C777081D-3FFE-4B77-A7E7-DBD8A055952A}
vti_backlinkinfo:VX|tunez/target9.html tunez/target17.html tunez/target18.html tunez/target19.html tunez/target6.html tunez/target7.html tunez/target8.html tunez/target13.html tunez/target14.html tunez/target15.html tunez/target16.html tunez/target2.html tunez/target20.html tunez/target21.html tunez/target3.html tunez/target4.html tunez/target5.html tunez/index.html tunez/target0.html tunez/target1.html tunez/target10.html tunez/target11.html tunez/target12.html
